# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
anomaliaSemAno = pd.Series(dados)
anomaliaSemAno

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [4]:
# seu código aqui
anomaliaComAno = pd.Series([-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02],
                           index=["1900", "1920", "1940", "1960", "1980", "2000", "2020"])
anomaliaComAno

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [10]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
anomaliasDict = pd.Series(dic_temperaturas)
anomaliasDict

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [16]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
dataFrame = pd.DataFrame(arr)
dataFrame

             0           1           2
0   113.216655   95.935916  105.465335
1   103.656696   97.582320   87.844949
2   105.002507   84.548326   98.333734
3   118.022610  112.263452   96.239544
4   110.755897  104.264054   96.803103
5   106.664320   92.459888  101.903939
6   107.273194  124.040867   90.577374
7   105.881131  112.075319   95.109355
8   103.334487   92.793716   79.527564
9   109.627731  127.268879   83.475463
10   98.847438  119.504938  118.291493
11   95.690855   92.181106   95.197898
12   93.984310   95.709252  103.604274
13   89.077347   94.238927  101.902942
14  102.841060   90.357591  102.950365
15  109.235125  106.692549  103.958925
16   96.968679   99.343478   98.999289
17   96.253553   94.571247  116.645328
18   89.346332  100.734340   87.451077
19   96.340288  103.666137   95.945209

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [18]:
#seu código aqui
dataFrame = pd.DataFrame(arr, index=range(1,21), columns=["x1", "x2", "x3"])
dataFrame

            x1          x2          x3
1   113.216655   95.935916  105.465335
2   103.656696   97.582320   87.844949
3   105.002507   84.548326   98.333734
4   118.022610  112.263452   96.239544
5   110.755897  104.264054   96.803103
6   106.664320   92.459888  101.903939
7   107.273194  124.040867   90.577374
8   105.881131  112.075319   95.109355
9   103.334487   92.793716   79.527564
10  109.627731  127.268879   83.475463
11   98.847438  119.504938  118.291493
12   95.690855   92.181106   95.197898
13   93.984310   95.709252  103.604274
14   89.077347   94.238927  101.902942
15  102.841060   90.357591  102.950365
16  109.235125  106.692549  103.958925
17   96.968679   99.343478   98.999289
18   96.253553   94.571247  116.645328
19   89.346332  100.734340   87.451077
20   96.340288  103.666137   95.945209

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [22]:
# seu código aqui
dataFrame["Media"] = (dataFrame["x1"] + dataFrame["x2"] + dataFrame["x3"]) / 3
dataFrame

            x1          x2          x3       Media
1   113.216655   95.935916  105.465335  104.872635
2   103.656696   97.582320   87.844949   96.361322
3   105.002507   84.548326   98.333734   95.961522
4   118.022610  112.263452   96.239544  108.841868
5   110.755897  104.264054   96.803103  103.941018
6   106.664320   92.459888  101.903939  100.342716
7   107.273194  124.040867   90.577374  107.297145
8   105.881131  112.075319   95.109355  104.355268
9   103.334487   92.793716   79.527564   91.885256
10  109.627731  127.268879   83.475463  106.790691
11   98.847438  119.504938  118.291493  112.214623
12   95.690855   92.181106   95.197898   94.356620
13   93.984310   95.709252  103.604274   97.765945
14   89.077347   94.238927  101.902942   95.073072
15  102.841060   90.357591  102.950365   98.716339
16  109.235125  106.692549  103.958925  106.628866
17   96.968679   99.343478   98.999289   98.437149
18   96.253553   94.571247  116.645328  102.490043
19   89.346332  100.734340   87.451077   92.510583
20   96.340288  103.666137   95.945209   98.650544

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [24]:
# seu código aqui
dataFrame["log-med"] = np.log(dataFrame["Media"])
dataFrame

            x1          x2          x3       Media   log-med
1   113.216655   95.935916  105.465335  104.872635  4.652747
2   103.656696   97.582320   87.844949   96.361322  4.568105
3   105.002507   84.548326   98.333734   95.961522  4.563947
4   118.022610  112.263452   96.239544  108.841868  4.689896
5   110.755897  104.264054   96.803103  103.941018  4.643824
6   106.664320   92.459888  101.903939  100.342716  4.608591
7   107.273194  124.040867   90.577374  107.297145  4.675602
8   105.881131  112.075319   95.109355  104.355268  4.647801
9   103.334487   92.793716   79.527564   91.885256  4.520541
10  109.627731  127.268879   83.475463  106.790691  4.670871
11   98.847438  119.504938  118.291493  112.214623  4.720413
12   95.690855   92.181106   95.197898   94.356620  4.547081
13   93.984310   95.709252  103.604274   97.765945  4.582576
14   89.077347   94.238927  101.902942   95.073072  4.554646
15  102.841060   90.357591  102.950365   98.716339  4.592250
16  109.235125  106.692549  103.958925  106.628866  4.669354
17   96.968679   99.343478   98.999289   98.437149  4.589418
18   96.253553   94.571247  116.645328  102.490043  4.629766
19   89.346332  100.734340   87.451077   92.510583  4.527323
20   96.340288  103.666137   95.945209   98.650544  4.591584