# Tarefa 02 Módulo 05

O nosso projeto desta sequência de módulos do curso será um aprofundamento da demonstração sobre classificação de risco de crédito que vimos lá no comecinho. Pois recebemos uma base já montada pra nós. Tenha certeza de que ela passou por um longo processamento até ficar daquele jeito. Neste exercício vamos exercitar o que aprendemos nas ultimas aulas e montar a variável resposta da base do nosso projeto.

#### Marcação de bom e mau
O objetivo da modelagem é classificar o risco de inadimplência, ou como se diz no meio, o risco de *default*. Podemos fazer longas discussões sobre o conceito de *default* com base em estudos e exigências regulatórias, para efeitos deste estudo, um cliente em *default* é aquele que está em 60 dias de atraso ou mais. Então classificaremos os clientes como 'bons' e 'maus' assim:
- **Maus** pagadores: são aqueles que entraram em 'default' (atraso 60 dias ou mais) nos 24 meses seguintes à aquisição do cartão de crédito. 
- **Bons** pagadores: são considerados todos os demais.
- **Excluídos**: Clientes que não adquiriram um cartão de crédito (seja por recusa, seja por desistência) não possuem informações de pagamento, portanto não se pode identificar se são bons ou maus. Há uma longa discussão e literatura sobre *inferência de rejeitados* que está fora do escopo deste exercício.

#### Bases disponíveis
Temos duas bases importantes aqui: uma de propostas, com diversas informações dos vários solicitantes de cartão de crédito, e uma base de pagamentos. A base de pagamentos será utilizada para identificar a ocorrência de *default*. A base de propostas tem diversas informações coletadas no momento da solicitação do crédito (isto é importante: qualquer informação posterior a essa data é impossível de ser coletada na aplicação do modelo e não pode ser utilizada).

As variáveis delas são:

Base de propostas - application_records.csv

| Nome da Variável         | Description                                         | Tipo  |
| ------------------------ |:---------------------------------------------------:| -----:|
| ID| identificador do cliente (chave) |inteiro|
| CODE_GENDER| M = 'Masculino'; F = 'Feminino' |M/F|
| FLAG_OWN_CAR| Y = 'possui'; N = 'não possui' |Y/N|
| FLAG_OWN_REALTY| Y = 'possui'; N = 'não possui' |Y/N|
| CNT_CHILDREN| Quantidade de filhos |inteiro|
| AMT_INCOME_TOTAL| Annual income |inteiro|
| NAME_INCOME_TYPE|Tipo de renda (ex: assaliariado, autônomo etc) | texto |
| NAME_EDUCATION_TYPE| Nível de educação (ex: secundário, superior etc) |texto|
| NAME_FAMILY_STATUS | Estado civil (ex: solteiro, casado etc)| texto |
| NAME_HOUSING_TYPE | tipo de residência (ex: casa/apartamento, com os pais etc) | texto |
| DAYS_BIRTH | Count backwards from current day (0), -1 means yesterday |inteiro|
| DAYS_EMPLOYED | Count backwards from current day (0), -1 means yesterday |inteiro|
| FLAG_MOBIL | Indica se possui celular (1 = sim, 0 = não) |binária|
| FLAG_WORK_PHONE | Indica se possui telefone comercial (1 = sim, 0 = não) |binária|
| FLAG_PHONE | Indica se possui telefone (1 = sim, 0 = não) |binária|
| FLAG_EMAIL | Indica se possui e-mail (1 = sim, 0 = não) |binária|
| OCCUPATION_TYPE | Occupation	 |Qualitativa|
| CNT_FAM_MEMBERS | quantidade de pessoas na residência |inteiro|

Base de pagamentos - pagamentos_largo.csv  

| Nome da Variável         | Description                                         | Tipo  |
| ------------------------ |:---------------------------------------------------:| -----:|
| ID| identificador do cliente (chave) |inteiro|
| mes_00 a mes_24| faixa de atraso mês a mês do cliente <br>0: 1-29 days past due &nbsp;&nbsp;&nbsp;&nbsp; 1: 30-59 days past due <br />2: 60-89 days overdue &nbsp;&nbsp;&nbsp;&nbsp; 3: 90-119 days overdue <br /> 4: 120-149 days overdue &nbsp;&nbsp;&nbsp;&nbsp; 5: more than 150 days <br />C: paid off that month &nbsp;&nbsp;&nbsp;&nbsp; X: No loan for the month |Qualitativa|

#### Construindo a variável resposta
A base de pagamentos está em um formato de 'base larga'. Essa base possui informações de pagamentos do cliente mês a mês a partir do mês de aquisição do crédito (mês 0) até o vigésimo quarto mês após a aquisição do crédito (mês 24). Utilizaremos essa base para determinar se um proponente é considerado 'bom pagador' ou caso apresente atraso representativo, será considerado 'mau pagador'.

#### Base larga vs base longa
A base ser larga significa que há uma linha para cada cliente, e que as informações estarão nas colunas, em contraste com a 'base longa', em que haveria uma linha para cada combinação cliente/mês, uma coluna indicando o cliente, outra indicando o mês, e apenas uma coluna com a informação do atraso.

#### Tarefa 1) Marcar *default* no mês
Faça uma indicadora de se o cliente está em *default* em cada uma das marcações (mes_0 a mes_24). Dica: você pode utilizar o método ```.isin()``` do Pandas. Consulte a [documentação](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.isin.html) caso necessário.

#### Tarefa 2) 'bons' e 'maus' ao longo de todos os 24 meses de desempenho
Marque para cada cliente se ele teve pelo menos um episódio de *default* entre o mês 0 e o mês 24. Dica: o método ```sum()``` pode ajudar. Caso precise, consulte a [documentação](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.sum.html) e procure pelo argumento ```axis```, você viu outros métodos que possuem esse argumento também. Tendo o número de meses em default de cada cliente, basta marcar ```True``` para todos aqueles que possuem pelo menos 1 mês em *default* e ```False``` para os demais.

#### Tarefa 3) Marcando proponentes expostos ao risco de crédito
Marcando proponentes que se tornaram tomadores: lembre-se de que clientes que não adquiriram o cartão devem ser desconsiderados. A base de pagamentos possui apenas clientes que adquiriram cartão de crédito, então você pode selecionar somente os clientes da base de propostas que se encontram na base de pagamentos.

#### Tarefa 4) Consolidando as informações
Faça uma junção das informações da base de propostas com a variável de *default* que você acabou de construir. Talvez você consiga realizar a tarefa 3 e tarefa 4 em uma única linha de código ;)

#### Tarefa 5) Verificando
Faça uma contagem dos valores do *default* que você construiu.

In [2]:
import pandas as pd

In [4]:
propostas = pd.read_csv('application_record.csv')
pg = pd.read_csv('pagamentos_largo.csv')

In [6]:
pg.head()

,ID,mes_0,mes_1,mes_10,mes_11,mes_12,mes_13,mes_14,mes_15,mes_16,...,mes_22,mes_23,mes_24,mes_3,mes_4,mes_5,mes_6,mes_7,mes_8,mes_9
0,5001718,0,0,0,0,0,0,0,0,NaN,...,NaN,0,NaN,0,0,0,0,NaN,0,NaN
1,5001719,0,0,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,C
2,5001720,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,5001723,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,0,0,0,0,NaN,NaN
4,5001726,0,0,C,C,C,C,C,C,C,...,C,C,C,0,0,0,C,C,C,C

In [86]:
# 1) Seu código aqui
valores_default = [2, 3, 4, 5]

for i in range(25):
    mes_col = f'mes_{i}'
    pg[f'default_{i:02}'] = pg[mes_col].isin(valores_default).astype(int)
pg.sample(51)
#As novas colunas indicam 1 os meses de default e 0 para meses sem default.

,ID,mes_0,mes_1,mes_10,mes_11,mes_12,mes_13,mes_14,mes_15,mes_16,...,default_16,default_17,default_18,default_19,default_20,default_21,default_22,default_23,default_24,default
15903,5114607,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,False
10197,5062089,0,NaN,0,NaN,0,0,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,False
17783,5121980,0,0,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
16387,5116701,0,0,0,1,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
10644,5066435,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,True
15100,5105921,0,0,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
11722,5074614,0,0,0,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
4656,5023827,0,0,0,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
10733,5066706,1,0,1,2,3,1,0,0,0,...,0,0,0,0,0,0,0,0,0,True
7979,5048059,0,0,0,0,0,0,0,NaN,0,...,0,0,0,0,0,0,0,0,0,False
10176,5062020,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,False
8599,5053110,1,C,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
18160,5125752,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,False
1488,5008835,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,False
4488,5023354,0,0,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
9315,5058374,0,0,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
330,5002735,0,0,0,0,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
12347,5088042,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,False
18584,5132326,0,0,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
18155,5125746,0,0,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
3690,5018394,C,C,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
14867,5105257,0,0,0,0,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
17637,5121564,0,0,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
2021,5010327,0,0,0,0,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
3600,5018154,0,0,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
2662,5012053,0,0,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
9048,5054302,0,0,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
5342,5026508,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,False
5560,5028662,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,False
12576,5088991,0,0,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
15416,5113121,0,0,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
9627,5060512,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,False
19313,5139781,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,False
3497,5017772,0,0,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
16360,5116629,0,0,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
15507,5113386,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,False
4688,5023913,0,0,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
2986,5016348,0,NaN,0,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
9988,5061457,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,False
10182,5062030,0,0,NaN,NaN,NaN,0,0,0,0,...,0,0,0,0,0,0,0,0,0,False
11533,5069026,0,0,0,0,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
2429,5011419,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,False
1318,5005402,0,0,0,0,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
14194,5096284,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,False
11352,5068491,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,False
11798,5078443,C,C,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
19557,5142510,0,0,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
10035,5061587,0,0,0,NaN,0,NaN,0,0,0,...,0,0,0,0,0,0,0,0,0,False
7647,5046050,0,0,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
4736,5024052,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,False
7932,5047915,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,False

In [72]:
# 2) Seu código aqui
pg.loc[pg.isin(['2','3','4','5']).any(axis=1), 'default'] = True
pg.loc[~pg.isin(['2','3','4','5']).any(axis=1), 'default'] = False
pg

,ID,mes_0,mes_1,mes_10,mes_11,mes_12,mes_13,mes_14,mes_15,mes_16,...,default_16,default_17,default_18,default_19,default_20,default_21,default_22,default_23,default_24,default
0,5001718,0,0,0,0,0,0,0,0,NaN,...,0,0,0,0,0,0,0,0,0,False
1,5001719,0,0,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
2,5001720,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,False
3,5001723,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,False
4,5001726,0,0,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20932,5150475,C,C,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
20933,5150476,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,False
20934,5150480,0,0,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
20935,5150482,0,0,0,0,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False
20936,5150487,C,C,C,C,C,C,C,C,C,...,0,0,0,0,0,0,0,0,0,False

In [76]:
# 3 & 4) Seu código aqui
resultado = propostas.merge(pg[['ID', 'default']], on='ID', how='inner')
resultado

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,default
0,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0,False
1,5008810,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,False
2,5008811,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,False
3,5112956,M,Y,Y,0,270000.0,Working,Higher education,Married,House / apartment,-16872,-769,1,1,1,1,Accountants,2.0,False
4,5008825,F,Y,N,0,130500.0,Working,Incomplete higher,Married,House / apartment,-10669,-1103,1,0,0,0,Accountants,2.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16645,5149042,F,N,Y,0,180000.0,Working,Secondary / secondary special,Civil marriage,House / apartment,-19750,-3608,1,0,0,0,Laborers,2.0,True
16646,5149056,F,N,Y,0,112500.0,Commercial associate,Secondary / secondary special,Married,House / apartment,-15837,-2694,1,1,1,0,NaN,2.0,True
16647,5149145,M,Y,Y,0,247500.0,Working,Secondary / secondary special,Married,House / apartment,-10952,-3577,1,1,0,0,Laborers,2.0,True
16648,5149158,M,Y,Y,0,247500.0,Working,Secondary / secondary special,Married,House / apartment,-10952,-3577,1,1,0,0,Laborers,2.0,True
16649,5149838,F,N,Y,0,157500.0,Pensioner,Higher education,Married,House / apartment,-12387,-1325,1,0,1,1,Medicine staff,2.0,True

In [80]:
# 5) Seu código aqui
contagem_default = resultado['default'].value_counts()
contagem_default

default
False    16260
True       390
Name: count, dtype: int64